@import "tailwindcss";

:root {
  /* Ek kafi premium off-white shade jo gold ke sath acha lagta hai */
  --background: #F9F9F7; 
  --foreground: #1A1A1A;
}

/* Dark mode media query ko abhi ke liye white hi rakhein ya remove kar dein */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9F9F7;
    --foreground: #1A1A1A;
    --gold: #CCAC34;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  font-family: var(--font-geist-sans), Arial, sans-serif;
}